// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	@include adaptiveValue("width", 241, 131,1440,375,1);
	.excursion & {
		width: auto;
		@media (max-width:$mobile){
			 width: 100%; 
		}
	}
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		// border-radius: 10px;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
		border-radius: 10px;
		padding: 10px 0;
		.excursion & {
			border-radius: 1000px;
			// border: 1px solid #E9E9E9;
			padding: 0px 0px 0px 0px;
			width: 135px;
			background: #fff;
			@media (max-width:$mobile){
				width: 100%;
				 margin-bottom: 10px;
			}
			// font-size: rem(12);
		}

		@media (max-width:$mobile){
			border-radius: 1000px;
			background: #F5F5F5;
			padding: 5px 0;
			
		}
	}

	&__content {
		font-weight: 500;
		color: #b7b7b7;
		@include adaptiveValue("font-size", 16, 14,1440,768,1);
		.excursion & {
			font-size: rem(12);
			color: $mainColor;
		}
		@media (max-width:$mobile){
			 font-weight: 400;
			 color: #454545; 
		}
	}
	// .select__value
	&__value {
		// width: 241px;
		display: flex;
		align-items: center;
		height: rem(30);
		padding: 0 rem(15);
		@media (max-width:$mobile){
			 padding: 0px 13px; 
		}
		gap: rem(10);
		.excursion & {
			gap: 3px;
			padding: 0px 8px;
		}
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			width: 7px;
			height: 7px;
			background: url('@img/header/arrow-down.svg') 0 0 no-repeat;
			// align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #b7b7b7;
		position: absolute;
		top: 32px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding: 10px 0px 5px 0px;
		.excursion & {
			top: 10px;
			@media (min-width:$mobile){
				 top: 28px;
				 min-width: 0;
				 width: 135px;
			}
		}
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
