//====================================================================================================
.header {
	padding: 30px 0px;
	&__container {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 2.25rem;
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(20);
	}
}
.menu {

	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 35px;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
	}

	&__link {
		display: inline-block;
		font-size: 0.9375rem;
		font-weight: 400;
		line-height: math.div(25 , 15);
		transition: background-color 0.3s, border-radius 0.3s;
		padding: 13px 19px 13px 19px;
		&:hover{
			background-color: $mainyellow;
			border-radius: 6.25rem;
			font-weight: 600;
			& span::after {
				transform: rotate(180deg);
			}
			&+.menu__sublist {
				opacity: 1;
				visibility: visible;
				opacity: 1;
				// display: block;
				transform: translateY(0);
			}
		}
		span {
			display: block;
			&::after{
				content:'';
				display: inline-block;
				margin-left: 15px;
				width: 8px;
				height: 8px;
				background: url('@img/header/arrow-down.svg') 0 0 no-repeat;
				transition: transform 0.3s;
			}
		}
		&_first {
			@media (max-width:$mobile){
				 font-size: inherit; 
			}
		}
		@media (max-width:$mobile){
			 font-size: 1.125rem;
		}
	}

	&__sublist {
		position: absolute;
		border-radius: 1.0625rem;
		background-color: white;
		padding: 17px 27px;
		top: 100%;
		left: 19px;
		// width: auto;
		box-shadow: 0px 7px 100px 0px rgba(0, 0, 0, 0.15);
		transform: translateY(8px);
		transition: transform 0.3s;
		opacity: 0;
		visibility: hidden;
		// display: none;
	}

	&__sublink {
	}

	&__subitem {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
}
.icon-menu {
}
.menur {

	&__subitem {
	}
}
.help {

	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__text {
		color: #000;
		font-family: Montserrat;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px; /* 166.667% */
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 14px;
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.social-help {

	&__item {
		display: flex;
		align-items: center;
		border-radius: 100px;
		gap: 18px;
			background: #4CAF50;
			padding: 13px 24px;
			&:last-child{
				// border-radius: 100px;
				background: #039BE5;
			}
		span {
			
			color: #FFF;
	// font-family: Montserrat;
	// font-size: 14px;
	// font-style: normal;
		font-weight: 500;
		line-height: 25px; /* 178.571% */
		}
	}

	&__img {
	}
}
.contacts-help {

	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__img {
		display: flex;
	}

	&__link {
		font-size: rem(14);
	}
}
.actions-header {

	& > * {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 100px;
		background: #F5F5F5;
	}

	&__search {
		display: flex;
		align-items: center;
		transition: width 0.3s;
		padding: 16px 15px;
		// border-radius: 100px;
		background: #F5F5F5;
		&:hover{
			transform: translateX(-50px);
			width: 200px;
			& .actions-header__input {
				display: inline-block;
			}
			& .actions-header__img-search {
				border-radius: 0 100px 100px 0;
			}
		}
	}


	&__input {
		display: none;
		padding: 16px 15px;
		border-radius: 100px 0 0 100px;
		background: #F5F5F5;
		// border-radius: 100px;
	}

	&__img-search {
		padding: 16px 15px;
		
		background: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
	}
	

	&__link {
		
	}

	&__access {
		font-weight: 600;
		line-height: math.div(25 , 15);
		font-size: rem(15);
		// border-radius: 100px;
		// background: #F5F5F5;
		padding: 13px 32px;
		width: inherit;
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
