//====HERO================================================================================================
.page {
	
	&__hero {
		
	}
}
.hero {
	
	&__container {
		
	}
	&__wrapper {
			background-position: left top;
		border-radius: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width:$mobile){
			 padding: 0px 24px; 
		}
		}
	&__content {
		@include adaptiveValue("padding-top", 123, 45,1440,768,1);
		@include adaptiveValue("padding-bottom", 61, 46,1440,768,1);
		text-align: center;
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 42, 22,1440,768,1);
		line-height: math.div(52 , 42);
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 10px;
		&::after{
			content:'';
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			@include adaptiveValue("width", 227, 131,1440,768,1);
			@include adaptiveValue("height", 41, 25,1440,768,1);
			background: url('@img/main/hero/swoosh.png') 0 0 / cover no-repeat;
		}
	}

	&__subtitle {
		display: block;
		@include adaptiveValue("margin-top", 50, 30,1440,768,1);
		@include adaptiveValue("font-size", 16, 14,1440,768,1);
		line-height: math.div(24 , 14);
	}

	&__actions {
		@include adaptiveValue("margin-top", 48, 21,1440,768,1);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		background: #FFF;
		box-shadow: 0px 42px 80px 0px rgba(0, 0, 0, 0.25);
		padding: 10px 12px;
		@media (max-width:$mobile){
			 flex-direction: column;
			 border-radius: 20px;
			 width: 100%;
			 padding: 16px 20px;
			//  margin: 0px 24px;
		}
	}

	&__often {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 18px;
		@include adaptiveValue("margin-top", 127, 78,1440,768,1);
		@media (max-width:$mobile){
			 flex-direction: column;
			 width: 100%;
		}
	}
}
.actions-hero {

	&__item {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 15px;
		&_side {
		}

		&_date {
		}

		&_search {
			gap: 9px;
			justify-content: center;
			background-color: $mainyellow;
			border-radius: 100px;
			padding: 18px 30px;
			@media (max-width:$mobile){
				 margin-top: 23px; 
			}
		}
	}

	&__img {
		flex: 0 0 37px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		border: 1px solid #DBDBDB;;
	}

	&__input {
		font-weight: 500;
		font-size: 15px;
		color: #7b7b7b;
	}

	&__devider {
		width: 1px;
		height: 36.922px;
		background-color: #ebebeb;
		margin: 0 29px;
		@media (max-width:$mobile){
			 width: 100%;
			 height: 1px; 
			 margin: 10.5px 0;
		}
	}

	&__search-text {
	}
}
.input {
}
.button {
}
.often {

	&__title {
		font-size: rem(14);
		font-weight: 500;
		line-height: math.div(25 , 14);
	}

	&__result {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px;
	}

	&__resut-text {
		border-radius: 30px;
		opacity: 0.15;
		background: #252525;
		padding: 8px 17px;
		color: #FFF;
		font-weight: 500;
		font-size: rem(14);
		@media (max-width:$mobile){
			 opacity: 0.34; 
		}
	}
}

//======POPULAR==============================================================================================

.page {

	&__popular {
		@include adaptiveValue("margin-top", 93, 62,1440,768,1);
	}
}
.popular {

	&__container {
		@media (max-width:$mobile){
			  padding-bottom: 70px;
			  border-bottom-left-radius: 50px;
			  border-bottom-right-radius: 50px;
			  background-color: white;
		}
	}

	&__title {
	}

	&__text {
		@include adaptiveValue("margin-top", 17, 9,1440,768,1);
		@include adaptiveValue("font-size", 16, 14,1440,768,1);
		line-height: math.div(24 , 14);;
	}

	&__galery {
		@include adaptiveValue("margin-top", 63, 38,1440,768,1);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 45px;
		@media (max-width:$mobile){
			grid-template-columns: repeat(2, 1fr);
			gap: 1.25rem;
		}
	}
}

.galery {

	&__item {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
	}

	&__image {
		padding-bottom: percent(490,450);
		@media (max-width:$mobile){
			 padding-bottom: percent(202,157); 
		}
		img {
			// width: 100%;
		}
	}

	&__content {
		position: absolute;
		z-index: 2;
		left: 45px;
		bottom: 45px;
		display: flex;
		flex-direction: column;
		gap: 18.5px;
		@media (max-width:$mobile){
			 left: 20px;
			 bottom: 20px; 
		}
	}

	&__text {
		color: #FFF;
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 13,1440,768,1);
	}

	&__subtext {
		border-radius: 100px;
		background: #FFD600;
		padding: 9px 26px;
		line-height: math.div(16 , 13);
		font-weight: 500;
		@include adaptiveValue("font-size", 13, 10,1440,768,1);
	}
}

/*=========ЫУФКСР=======*/

.page {

	&__search {
		@media (min-width:$mobile){
			 display: none; 
		}
		position: relative;
		margin-top: -50px;
		z-index: -1;
		 background-position: bottom center;
		// border-radius: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding-bottom: 270px;
	}
}
.search {

	&__title {
		width: percent(265,375);
		margin: 0 auto;
		padding-top: 165px;
		font-size: rem(23);
		font-weight: 800;
		line-height: math.div(30 , 23);
	}

	&__text {
		margin-top: 13px;
		font-size: rem(14);
		line-height: math.div(26 , 14);
	}

	&__link {
		margin-top: 32px;
		display: inline-block;
		color: #000;
		font-weight: 500;
		font-size: rem(15);
		background-color: #FFD600;
		border-radius: 50px;
		padding: 18px 30px;
	}
}

/*========EXCURSIONS======*/

.page {

	&__excursions {
		@include adaptiveValue("padding-top", 108, 68,1440,768,1);
	}
}
.excursions {

	&__top {
		display: flex;
		align-items: center;
		gap: 58px;
		@media (max-width:$mobile){
			 flex-direction: column;
			 gap: 68px;
		}
	}

	&__title {
		@media (max-width:$mobile){
			 text-align: left; 
		}
	}

	&__form {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 30, 18,1440,768,1);
		@media (max-width:$mobile){
			 width: 100%;
			 justify-content: space-between; 
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 12, 8,1440,768,1);
		&::before{
			// content:'';
			display: none;
			position: absolute;
			left: 0;
			bottom: 125%;
			font-weight: 500;
			font-size: rem(14);
			@media (max-width:$mobile){
				 display: block; 
			}
		}
		&_city {
			&::before{
				content:'Город';
			}
		}

		&_date {
			&::before{
				content:'Дата';
			}
		}
	}

	&__select {
		flex: 0 0 241px;
	}

	

	&__input {
		@include adaptiveValue("width", 241, 70,1440,375,1);
		border-radius: 10px;
		border: 1px solid #E6E6E6;
		background: #FFF;
		padding: 15px 22px;
		color: #b5b5b5;
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14,1440,768,1);
		@media (max-width:$mobile){
			border-radius: 1000px;
			background: #F5F5F5;
			font-weight: 400;
			color: #454545;
			padding: 10px 15px;
		}
	}

	&__content {
		@include adaptiveValue("margin-top", 77, 40,1440,768,1);
		display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(157px, 333px));
		grid-template-columns: repeat(4, 1fr);
		@media (max-width:$mobile){
			 grid-template-columns: repeat(2, 1fr); 
		}
		column-gap: 35px;
		row-gap: 30px;
	}
}

.excursion {
	position: relative;
	&__img {
		width: 100%;

	}

	&__abs-love{
		position: absolute;
		z-index: 2;
		top: 16px;
		right: 16px;
		display: flex;
		width: 50px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		opacity: 0.1;
		background: #FFF;
		@media (max-width:$mobile){
			 top: 8px;
			 right: 8px; 
			 width: 23px;
			 height: 23px;
		}
	}
	
	&__content {
	}

	&__title {
	}

	&__text {
	}

	&__cost {
	}

	&__price {
	}

	&__select {
	}

	&__add {
	}
}
